package ${basePackage}.module.${table.moduleName}.listener.${table.businessName};

import ${basePackage}.module.bpm.framework.bpm.core.event.BpmProcessInstanceResultEvent;
import ${basePackage}.module.bpm.framework.bpm.core.event.BpmProcessInstanceResultEventListener;
import org.springframework.stereotype.Component;

import ${basePackage}.module.${table.moduleName}.convert.${table.businessName}.${table.className}Convert;
import ${basePackage}.module.${table.moduleName}.service.${table.businessName}.${table.className}Service;
import ${basePackage}.module.${table.moduleName}.service.${table.businessName}.${table.className}ServiceImpl;

import javax.annotation.Resource;


/**
* ${table.classComment} 的结果的监听器实现类
*
* @author ${table.author}
*/
@Component
public class ${table.className}ResultListener extends BpmProcessInstanceResultEventListener {


    @Resource
    private ${table.className}Service ${classNameVar}Service;

    @Override
    protected String getProcessDefinitionKey() {
        return ${table.className}ServiceImpl.PROCESS_KEY;
    }

    @Override
    protected void onEvent(BpmProcessInstanceResultEvent event) {
        ${classNameVar}Service.update${simpleClassName}Result(Long.parseLong(event.getBusinessKey()), event.getResult());
    }
}